*, *:before,*:after{
  box-sizing: border-box;
}


body {
  background-color: #dadada;
  font-size: 16px;
  font-family: serif;
  display: block;
  text-align: center
}


.container {
  width: 100%;
}


@media screen and (min-width: 575px){
  .preview-baku, .preview-london, .preview-madrid, .preview-rome {
    display: inline;
    margin: 2%;
    width: 20%;
  }
}


@media screen and (min-width: 991px){
  .container {
    margin: 1%;
    width: 15%;
  }
}


h1 {
  display: inline-block;
  margin: 20px
}


.preview-baku {
  text-align: left;
  padding: 2px 0px 200px 10px;
  margin-bottom: 20px;
  background: url(/images/baku.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}


.preview-london {
  text-align: left;
  padding: 2px 0px 200px 10px;
  margin-bottom: 20px;
  background: url(/images/london.png);
  background-size: 100%;
  background-repeat: no-repeat;
}


.preview-madrid {
  text-align: left;
  padding: 2px 0px 200px 10px;
  margin-bottom: 20px;
  background: url(/images/madrid.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}


.preview-rome {
  text-align: left;
  padding: 2px 0px 200px 10px;
  margin-bottom: 20px;
  background: url(/images/rome.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
